<ion-view name="login-view">
  <ion-nav-title>Sign-in</ion-nav-title>
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-positive" ng-click="login(data)">Login</button>
      <button class="button button-block button-positive" ng-click="openRegisterModal(1)">Sign Up</button>
  </ion-content>
</ion-view>

<script id="chooseType.html" type="text/ng-template">
 <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Register</h1>
      <div class="buttons">
        <button class="button icon ion-home" ng-click="closeRegisterModal(1)">Back</button>
      </div>
    </ion-header-bar>
    <ion-content class="padding">
      <h3><center>Are you a</center></h3>     
      <button class="button button-block button-positive" ng-click="openRegisterModal(2)">Parent</button>
      <button class="button button-block button-positive" ng-click="openRegisterModal(3)">Child</button>
    </ion-content>
</ion-modal-view>
</script>

<script id="parentRegister.html" type="text/ng-template">
 <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Register</h1>
      <div class="buttons">
        <button class="button icon ion-home" ng-click="closeRegisterModal(2)">Back</button>
      </div>
    </ion-header-bar>
    <ion-content>      
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="First Name" ng-model="data.firstname">
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="Last Name" ng-model="data.lastname">
          </label>
        </div>
      </div>   
      <div class="padding">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="data.username">
      </label>
      </div>
      <div class="row">
        <div class="col">
        <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="data.password">
        </label>
        </div>
        <div class="col">
        <label class="item item-input">
            <input type="password" placeholder="Confirm Password">
        </label>
        </div>
      </div>
      <div class="padding">
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="data.email">
        </label>
      </div>
      <div class="padding">
        <label class="item item-input">
          <input type="tel" placeholder="Mobile" ng-model="data.mobile">
        </label>
      </div>
      <div class="padding">
      <button class="button button-block button-positive" ng-click="openRegisterModal()">Register</button>
      </div>
    </ion-content>
</ion-modal-view>
</script>

<script id="childRegister.html" type="text/ng-template">
 <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Register</h1>
      <div class="buttons">
        <button class="button icon ion-home" ng-click="closeRegisterModal(3)">Back</button>
      </div>
    </ion-header-bar>
    <ion-content>      
      <div class="padding">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="data.username">
      </label>
      </div>
      <div class="row">
        <div class="col">
        <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="data.password">
        </label>
        </div>
        <div class="col">
        <label class="item item-input">
            <input type="password" placeholder="Confirm Password">
        </label>
        </div>
      </div>
      <div class="padding">
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="data.email">
        </label>
      </div>
      <div class="padding">
        <label class="item item-input">
          <input type="tel" placeholder="Mobile" ng-model="data.mobile">
        </label>
      </div>
      <div class="padding">
        <label class="item item-input">
          <input type="text" placeholder="Student Code" ng-model="data.code">
        </label>
      </div>
      <div class="padding">
      <button class="button button-block button-positive" ng-click="openRegisterModal()">Register</button>
      </div>
    </ion-content>
</ion-modal-view>
</script>